<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin_mapper">

	<!--회원 정보 찾기 ================================================================ -->
	<select id="findUserList" resultType="User">
		SELECT * FROM MEMBERS ORDER
		BY member_id
	</select>

	<select id="findUserByMemberId" resultType="User"
		parameterType="int">
		SELECT * FROM MEMBERS
		WHERE member_id = #{memberId}
	</select>

	<select id="findUserListBySearchCondition" parameterType="User"
		resultType="UserSearchCondition">
		SELECT * FROM MEMBERS
		WHERE 1 = 1
		<if test="memberId != null and memberId != ''">
			AND member_id LIKE '%' || #{searchKeyword} || '%'
		</if>

		<if test="userId != null and userId!= ''">
			AND user_id LIKE '%' || #{searchKeyword} || '%'
		</if>

		<if test="userPassword != null and userPassword!= ''">
			AND user_password LIKE '%' || #{searchKeyword} || '%'
		</if>

		<if test="userName != null and userName!= ''">
			AND user_name LIKE '%' || #{searchKeyword} || '%'
		</if>

		<if test="userNickname != null and userNickname!= ''">
			AND user_nickname LIKE '%' || #{searchKeyword} || '%'
		</if>

		<if test="userTel != null and userTel!= ''">
			AND user_tel LIKE '%' || #{searchKeyword} || '%'
		</if>

		<if test="userEmail != null and userEmail!= ''">
			AND user_email LIKE '%' || #{searchKeyword} || '%'
		</if>

		<if test="userBirthdate != null and userBirthdate!= ''">
			AND substr(user_birthdate, 1, 4) LIKE '%' ||
			#{searchKeyword} || '%'
		</if>


		<if test="birthMonth != null and birthMonth!= ''">
			AND substr(user_birthdate, 6, 2) = #{birthMonth}
		</if>

		<if test="birthDate != null and birthDate!= ''">
			AND substr(user_birthdate, 9, 2) = #{birthDate}
		</if>

		<if test="addressSystem != null and addressSystem!= ''">
			AND SUBSTR(user_address , 1, INSTR(user_address, ' ') - 1)
			= #{addressSystem}
		</if>

		<if test="emailSystem!= null and emailSystem!= ''">
			AND SUBSTR(user_email, INSTR(user_email, '@')) =
			#{emailSystem}
		</if>

		<if test="userType!= null and userType!= ''">
			AND user_type = #{userType}
		</if>
	</select>

	<insert id="saveMember" parameterType="User">
		INSERT INTO members
		(member_id, user_id, user_password, user_name, user_nickname,
		user_birthdate, user_tel, user_address, user_email, user_type)
		VALUES
		((select NVL(max(member_id), 0)+1 as member_id from members),
		#{userId} , #{userPassword} , #{userName} , #{userNickname} ,
		#{userBirthdate} , #{userTel} , #{userAddress} , #{userEmail} ,
		'ADM')
	</insert>

	<update id="modifyMember" parameterType="User">
		UPDATE MEMBERS
		SET
		member_id = #{memberId},
		user_id = #{userId},
		user_password =
		#{userPassword},
		user_name = #{userName},
		user_nickname =
		#{userNickname},
		user_birthdate = #{userBirthdate},
		user_address =
		#{userAddress},
		user_email = #{userEmail}
		WHERE
		member_id = #{memberId}
	</update>

	<delete id="removeMember" parameterType="int">
		DELETE FROM MEMBERS
		WHERE member_id = #{memberId}
	</delete>

	<!--레시피 찾기 ============================================================== -->
	<select id="findPostRecipeList" resultType="PostRecipe">
		SELECT * FROM
		RECIPE_BOARD
		ORDER BY recipe_id
	</select>

	<select id="findPostRecipeById" resultType="PostRecipe"
		parameterType="int">
		SELECT * FROM RECIPE_BOARD WHERE recipe_id = #{recipeId}
	</select>

	<update id="modifyRecipeType" parameterType="PostRecipe">
		UPDATE RECIPE_BOARD
		SET
		recipe_type = #{recipeType}
		WHERE
		recipe_id = #{recipeId}
	</update>

	<delete id="removePostRecipe" parameterType="int">
		DELETE FROM
		RECIPE_BOARD
		WHERE recipe_id = #{recipeId}
	</delete>

	<select id="findPostRecipeListBySearchCondition"
		parameterType="PostRecipe" resultType="PostRecipeSearchCondition">
		SELECT * FROM RECIPE_BOARD
		WHERE 1 = 1
		<if test="recipeId != null and recipeId!= ''">
			AND recipe_id LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="recipeTitle!= null and recipeTitle!= ''">
			AND recipe_title LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="recipeContent!= null and recipeContent!= ''">
			AND recipe_content LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="memberId!= null and memberId!= ''">
			AND member_id LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="boardDate!= null and boardDate!= ''">
			AND board_date LIKE '%' || #{boardDate} || '%'
		</if>
		<if test="recipeType!= null and recipeType!= ''">
			AND recipe_type = #{recipeType}
		</if>
		order by recipe_id
	</select>

	<!--상품 정보 찾기 ================================================================ -->
	<select id="findProductList" resultType="Product">
		SELECT * FROM PRODUCT
		ORDER BY product_id
	</select>

	<select id="findProductByProductId" resultType="Product">
		SELECT * FROM
		PRODUCT
		WHERE product_id = #{productId}
	</select>

	<insert id="saveProduct" parameterType="Product">
		INSERT INTO PRODUCT
		(product_id, product_name, product_price, product_count, productImage,
		productType)
		VALUES
		((select NVL(max(product_id), 0)+1 as product_id
		from product),
		#{productName} , #{productPrice} , #{productCount} ,
		#{productImage} ,
		#{productType})
	</insert>

	<!--맛집 정보 찾기 ================================================================ -->
	<select id="findMustEatPlaceList" resultType="com.app.dto.mustEatPlace.MainMustEatPlace">
		SELECT * FROM
		main_must_eat_place
		ORDER BY id
	</select>

	<select id="findMustEatPlaceByPlaceId" resultType="com.app.dto.mustEatPlace.MainMustEatPlace">
		SELECT * FROM
		main_must_eat_place
		WHERE id = #{id}
	</select>

	<select id="findMustEatPlaceListBySearchCondition"
		parameterType="com.app.dto.mustEatPlace.MainMustEatPlace" resultType="MustEatPlaceSearchCondition">
		SELECT * FROM main_must_eat_place
		WHERE 1 = 1
		<if test="id != null and id!= ''">
			AND id LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="restaurantName != null and restaurantName!= ''">
			AND restaurant_name LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="place != null and place!= ''">
			AND place LIKE '%' || #{searchKeyword} || '%'
		</if>
	</select>


	<insert id="saveMustEatPlace" parameterType="com.app.dto.mustEatPlace.MainMustEatPlace">
		INSERT INTO
		main_must_eat_place
		(id, restaurant_name, place, telephone_number, opening_hours, closing_hours, type)
		VALUES
		((select
		NVL(max(id), 0)+1 as id
		from main_must_eat_place),
		#{restaurantName}, #{place}, #{telephoneNumber}, #{openingHours}, #{closingHours}, #{type})
	</insert>

	<update id="modifyMustEatPlace" parameterType="com.app.dto.mustEatPlace.MainMustEatPlace">
		UPDATE
		main_must_eat_place
		SET
		restaurant_name = #{restaurantName},
		place = #{place},
		telephone_number = #{telephoneNumber},
		opening_hours = #{openingHours},
		closing_hours = #{closingHours},
		type = #{type}
		WHERE id = #{id}
	</update>

	<delete id="removeMustEatPlace" parameterType="int">
		DELETE FROM
		main_must_eat_place
		WHERE id = #{id}
	</delete>
	
	<update id="updateImagePath" parameterType="com.app.dto.mustEatPlace.MainMustEatPlace">
        UPDATE main_must_eat_place 
        SET representative_menu_image = #{representativeMenuImage}
        WHERE id = #{id}
    </update>
    
    <insert id="saveMenuById" parameterType="com.app.dto.mustEatPlace.MainMustEatPlaceMenuInfo">
		INSERT INTO main_menu_info (id, menu_name, price)
		VALUES (
		    #{id},
		    #{menuName},
		    #{price}
		)
	</insert>
	
	<delete id="removeMenuByName" parameterType="string">
        DELETE FROM main_menu_info
        WHERE menu_name = #{menuName}
    </delete>
    
    <select id="findMustEatPlaceMenuById" resultType="com.app.dto.mustEatPlace.MainMustEatPlaceMenuInfo" parameterType="int">
		SELECT * FROM main_menu_info
		WHERE id = #{id}
	</select>

	<!--주문 정보 찾기 ================================================================ -->
	<select id="findOrderList" resultType="Order">
		SELECT * FROM
		ORDERS
		ORDER
		BY order_id
	</select>

	<select id="findOrderItemListByMemberId" resultType="OrderItem"
		parameterType="int">
		SELECT * FROM
		ORDER_ITEMS
		WHERE member_id = #{memberId}
	</select>

	<select id="findOrderItemByMemberId" resultType="OrderItem"
		parameterType="int">
		SELECT * FROM
		ORDER_ITEMS
		WHERE member_id = #{memberId}
	</select>

	<select id="findOrderItemByOrderItemId" resultType="OrderItem"
		parameterType="int">
		SELECT * FROM
		ORDER_ITEMS
		WHERE order_item_id =
		#{orderItemId}
	</select>

	<select id="findOrderItemListByOrderId" resultType="OrderItem"
		parameterType="int">
		SELECT * FROM
		ORDER_ITEMS
		WHERE order_id = #{orderId}
	</select>


	<select id="findOrderListBySearchCondition"
		parameterType="Order" resultType="OrderSearchCondition">
		SELECT * FROM ORDERS
		WHERE 1 = 1
		<if test="orderId!= null and orderId!= ''">
			AND order_id LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="memberId!= null and memberId!= ''">
			AND member_id LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="minPrice != null">
			AND total_price >= #{minPrice}
		</if>
		<if test="maxPrice != null">
			AND #{maxPrice} >= total_price
		</if>
		<if test="orderDate != null and orderDate!= ''">
			AND order_date LIKE '%' || #{orderDate} || '%'
		</if>
		<if test="orderStatus != null and orderStatus!= ''">
			AND order_status = #{orderStatus}
		</if>
	</select>

	<update id="modifyOrderItem" parameterType="OrderItem">
		UPDATE ORDER_ITEMS
		SET order_item_count = #{orderItemCount}
		WHERE order_item_id =
		#{orderItemId}

	</update>

	<update id="modifyTotalPrice" parameterType="int">
		update orders
		set
		total_price = (select sum(total_price)
		from order_items
		where order_id =
		#{orderId})
		where order_id = #{orderId}
	</update>

	<delete id="modifyOrder" parameterType="Order">
		DELETE FROM ORDER_ITEMS
		WHERE order_item_id = #{orderItemId}
	</delete>

	<update id="modifyOrderStatus" parameterType="Order">
		UPDATE ORDERS
		SET
		order_status = #{orderStatus}
		WHERE
		order_id = #{orderId}
	</update>

	<select id="findOrderByOrderId" resultType="Order"
		parameterType="int">
		SELECT * FROM
		ORDERS
		WHERE order_id = #{orderId}
	</select>


	<!--결제 정보 찾기 ================================================================ -->
	<select id="findPaymentList" resultType="Payment">
		SELECT * FROM
		PAYMENTS
		ORDER BY payment_id
	</select>

	<select id="findPaymentByPaymentId" resultType="Payment">
		SELECT * FROM
		PAYMENTS
		WHERE payment_id = #{paymentId}
	</select>

	<select id="findPaymentListBySearchCondition"
		parameterType="Payment" resultType="PaymentSearchCondition">
		SELECT * FROM PAYMENTS
		WHERE 1 = 1
		<if test="paymentId!= null and paymentId!= ''">
			AND payment_id LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="orderId!= null and orderId!= ''">
			AND order_id LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="minPrice != null">
			AND payment_amount >= #{minPrice}
		</if>
		<if test="maxPrice != null">
			AND #{maxPrice} >= payment_amount
		</if>
		<if test="paymentDate!= null and paymentDate!= ''">
			AND payment_date LIKE '%' || #{paymentDate} || '%'
		</if>
		<if test="paymentMethod != null and paymentMethod!= ''">
			AND payment_method = #{paymentMethod}
		</if>
	</select>


	<update id="modifyPaymentMethod" parameterType="Payment">
		UPDATE PAYMENTS
		SET
		payment_method = #{paymentMethod}
		WHERE
		payment_id = #{paymentId}
	</update>

	<!--배송 찾기 ============================================================== -->
	<select id="findDeliveryList" resultType="Delivery">
		SELECT * FROM
		DELIVERIES
		ORDER BY delivery_id
	</select>

	<select id="findDeliveryByDeliveryId" resultType="Delivery">
		SELECT * FROM
		DELIVERIES
		WHERE delivery_id = #{deliveryId}
	</select>

	<update id="modifyDeliveryAddress"
		parameterType="ModifyDeliveryAddressByOrderIdAndMemberId">
		update deliveries
		set delivery_address = (select
		m.user_address
		from members m, orders o
		where m.member_id = o.member_id
		and o.order_id = #{orderId})
		where order_id = ${orderId};
	</update>

	<select id="findDeliveryListBySearchCondition"
		parameterType="Delivery" resultType="DeliverySearchCondition">
		SELECT * FROM DELIVERIES
		WHERE 1 = 1
		<if test="deliveryId!= null and deliveryId!= ''">
			AND delivery_id LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="orderId!= null and orderId!= ''">
			AND order_id LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="deliveryDate!= null and deliveryDate!= ''">
			AND delivery_date LIKE '%' || #{deliveryDate} || '%'
		</if>
		<if test="addressSystem != null and addressSystem!= ''">
			AND SUBSTR(delivery_address, 1, INSTR(delivery_address, '
			') - 1) = #{addressSystem}
		</if>
		<if test="deliveryStatus!= null and deliveryStatus!= ''">
			AND delivery_status = #{deliveryStatus}
		</if>

		<if test="deliveryFee!= null and deliveryFee!= ''">
			AND delivery_fee = #{deliveryFee}
		</if>
	</select>

	<update id="modifyPaymentAmount"
		parameterType="ModifyPaymentAmountByOrderId">
		update payments
		set payment_amount = (select total_price
		from orders
		where order_id = #{orderId})
		where order_id = #{orderId}
	</update>

	<update id="modifyDeliveryStatus" parameterType="Delivery">
		UPDATE
		DELIVERIES
		SET
		delivery_status = #{deliveryStatus}
		WHERE
		delivery_id =
		#{deliveryId}
	</update>

	<!-- 방문자수 -->
	<insert id="saveVisitor" parameterType="Visitor">
		INSERT INTO
		visitor
		(user_id, page_url, visit_date)
		VALUES ( #{userId}, #{pageUrl},
		SYSDATE)
	</insert>

	<select id="getVisitorCount" resultType="int"
		parameterType="String">
		SELECT COUNT(*) FROM visitor
		WHERE page_url = #{pageUrl}
	</select>

	<!-- 캘린더 -->
	<select id="findSchedule" resultType="Schedule">
		select * from schedule
		order by schedule_id
	</select>

	<insert id="saveSchedule" parameterType="Schedule">
		INSERT INTO schedule
		(schedule_id, subject, start_date, end_date, memo)
		VALUES ((SELECT
		NVL(MAX(schedule_id), 0)+1 FROM schedule), #{subject},
		#{startDate},
		#{endDate}, #{memo})
	</insert>

	<!-- 통계 -->
	<select id="getUserCountByUserType" resultType="int"
		parameterType="String">
		SELECT COUNT(*) FROM MEMBERS WHERE user_type =
		#{userType}
	</select>

	<select id="getRecipeCountByRecipeType" resultType="int"
		parameterType="String">
		SELECT COUNT(*) FROM RECIPE_BOARD WHERE recipe_type =
		#{recipeType}
	</select>

	<select id="getUserCountByRecipe" resultType="java.util.Map">
		select member_id,
		count(*) from recipe_board
		group by member_id
		order by member_id
	</select>

	<select id="getTotalAmountByMonth" resultType="java.util.Map">
		SELECT
		TO_CHAR(TO_DATE(order_date, 'YYYY-MM-DD HH24:MI:SS'), 'MM') as month,
		SUM(total_price) as totalAmount
		FROM orders
		WHERE order_status != 'C'
		GROUP BY TO_CHAR(TO_DATE(order_date, 'YYYY-MM-DD HH24:MI:SS'), 'MM')
		order by sum(total_price) desc
	</select>


	<!-- 회원수 -->
	<select id="getUserCount" resultType="int">
		SELECT COUNT(*) FROM
		MEMBERS
	</select>

	<select id="findUserListByPage" parameterType="map"
		resultType="User">
		SELECT *
		FROM (
		SELECT
		t.*,
		ROWNUM AS rnum
		FROM (
		SELECT *
		FROM
		members
		ORDER BY member_id
		) t
		)
		WHERE rnum BETWEEN #{startRow} AND
		#{endRow}
	</select>

	<!-- 레시피 수 -->
	<select id="getRecipeCount" resultType="int">
		SELECT COUNT(*) FROM
		RECIPE_BOARD
	</select>

	<select id="findRecipeListByPage" parameterType="map"
		resultType="PostRecipe">
		SELECT *
		FROM (
		SELECT
		t.*,
		ROWNUM AS rnum
		FROM (
		SELECT *
		FROM
		RECIPE_BOARD
		ORDER BY recipe_id
		) t
		)
		WHERE rnum BETWEEN #{startRow} AND
		#{endRow}
	</select>

	<select id="getOrderCount" resultType="int">
		SELECT COUNT(*) FROM
		ORDERS
	</select>

	<select id="findOrderListByPage" parameterType="map"
		resultType="Order">
		SELECT *
		FROM (
		SELECT
		t.*,
		ROWNUM AS rnum
		FROM (
		SELECT *
		FROM
		ORDERS
		ORDER BY order_id
		) t
		)
		WHERE rnum BETWEEN #{startRow} AND
		#{endRow}
	</select>

	<select id="getPaymentCount" resultType="int">
		SELECT COUNT(*) FROM
		PAYMENTS
	</select>

	<select id="findPaymentListByPage" parameterType="map"
		resultType="Payment">
		SELECT *
		FROM (
		SELECT
		t.*,
		ROWNUM AS rnum
		FROM (
		SELECT *
		FROM
		payments
		ORDER BY payment_id
		) t
		)
		WHERE rnum BETWEEN #{startRow} AND
		#{endRow}
	</select>

	<select id="getDeliveryCount" resultType="int">
		SELECT COUNT(*) FROM
		deliveries
	</select>

	<select id="getPlaceCount" resultType="int">
		SELECT COUNT(*) FROM
		must_eat_place
	</select>

	<select id="getProductCount" resultType="int">
		SELECT COUNT(*) FROM
		product
	</select>

	<select id="getTotalAmount" resultType="int">
		SELECT SUM(total_price)
		FROM orders
		WHERE order_status != 'C'
	</select>

	<select id="findDeliveryListByPage" parameterType="map"
		resultType="Delivery">
		SELECT *
		FROM (
		SELECT
		t.*,
		ROWNUM AS rnum
		FROM (
		SELECT *
		FROM
		deliveries
		ORDER BY delivery_id
		) t
		)
		WHERE rnum BETWEEN #{startRow} AND
		#{endRow}
	</select>




</mapper>