<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="postRecipe_mapper">

	<insert id="saveRecipePost" parameterType="com.app.dto.postRecipe.PostRecipe">
		INSERT INTO recipe_board VALUES(NVL((SELECT MAX(recipe_id) + 1 FROM recipe_board),1), 
		#{recipeTitle}, #{recipeContent}, #{memberId}, to_char(sysdate,'YYYY-MM-DD HH24:MI:SS'), 
		#{recipeType}, #{recipeFileId})
	</insert>
	
	<select id="findRecipeInfoById" parameterType="Integer" resultType="PostRecipe">
		SELECT *
		FROM RECIPE_BOARD
		WHERE recipe_id = #{recipeId}
	</select>
	
	<select id="findRecipeList" resultType="PostRecipe">
		SELECT * FROM recipe_board r, recipe_file_info i
		WHERE r.recipe_file_id = i.recipe_file_id
	</select>


</mapper>