<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="postRecipe_mapper">

	<insert id="saveRecipePost" parameterType="com.app.dto.postRecipe.PostRecipe">
		INSERT INTO recipe_board VALUES(NVL((SELECT MAX(recipe_id) + 1 FROM recipe_board),1), #{recipe_title}, #{recipe_content}, #{user_id}, #{created_at})
	</insert>


</mapper>