<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="postRecipe_mapper">

	<insert id="saveRecipePost" parameterType="com.app.dto.postRecipe.PostRecipe">
		INSERT INTO recipe_board VALUES(NVL((SELECT MAX(recipe_id) + 1 FROM recipe_board),1), 
		#{recipeTitle}, #{recipeContent}, #{memberId}, to_char(sysdate,'YYYY-MM-DD HH24:MI:SS'), 
		#{recipeType}, #{recipeFileId})
	</insert>
	
	<select id="findRecipeInfoById" parameterType="Integer" resultType="PostRecipe">
		SELECT *
		FROM RECIPE_BOARD r, members m
		WHERE recipe_id = #{recipeId}
		AND r.member_id = m.user_id
	</select> 
	
<!-- 	레시피 목록 출력 및 검색 -->
	<select id = "findRecipeListBySearchCondition" resultType="PostRecipe" parameterType="RecipeSearchCondition">
		SELECT * FROM recipe_board r, recipe_file_info i, members m
		WHERE 1=1
		AND r.recipe_file_id = i.recipe_file_id
		AND r.member_id = m.user_id
		<if test="recipeType != null and recipeType != ''">
			AND r.recipe_type = #{recipeType}
		</if>
		<if test="searchKeyword != null and searchKeyword != ''">
			AND r.recipe_title LIKE '%'||#{searchKeyword}||'%'
		</if>
		ORDER BY board_date desc
	</select>
	
<!-- 	레시피 수정 -->
	<update id="modifyRecipePost" parameterType="PostRecipe">
		UPDATE recipe_board 
		SET recipe_title = #{recipeTitle},
			recipe_content = #{recipeContent},
			recipe_type = #{recipeType}
		WHERE
			recipe_id = #{recipeId}
	</update>
	
<!-- 레시피 삭제하기 -->
	<delete id="removeRecipeById" parameterType="int">
		DELETE FROM recipe_board
		WHERE recipe_id = #{recipeId}
	</delete>
	
<!-- 	레시피 총 개수 -->
	<select id="getTotal" resultType="int">
		SELECT count(*)
		FROM RECIPE_BOARD
		ORDER BY board_date desc
	</select> 


</mapper>