<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mustEatPlace_mapper">
	<insert id="saveMustEatPlace" parameterType="com.app.dto.mustEatPlace.MustEatPlace">
		INSERT INTO MUST_EAT_PLACE(id, place, restaurant_name, review, asterion, telephone_number, representative_menu) VALUES(NVL((SELECT MAX(id) + 1 FROM MUST_EAT_PLACE),1), #{place}, #{restaurant_name}, #{review}, #{asterion}, #{telephone_number}, #{representative_menu})
	</insert>
	
	<select id="findMustEatPlace" resultType="com.app.dto.mustEatPlace.MustEatPlace">
		SELECT * FROM MUST_EAT_PLACE
	</select>
	
	<select id="findMustEatPlaceById" resultType="com.app.dto.mustEatPlace.MustEatPlace" parameterType="int">
		SELECT * FROM MUST_EAT_PLACE
		WHERE id=#{id}
	</select>
	
	<select id="findMustEatPlaceMenuById" resultType="com.app.dto.mustEatPlace.MustEatPlaceMenu" parameterType="int">
		SELECT * FROM menu_info
		WHERE menu_id=#{menu_id}
	</select>
	
	
	
	<delete id="removeMustEatPlace" parameterType="int">
		DELETE FROM must_eat_place
		WHERE id = #{id}
	</delete>
	
	<resultMap id="mustEatPlaceWithMenuResultMap" type="com.app.dto.mustEatPlace.MustEatPlaceWithMenu">
        <id property="id" column="id"/>
        <result property="place" column="place"/>
        <result property="restaurant_name" column="restaurant_name"/>
        <result property="review" column="review"/>
        <result property="asterion" column="asterion"/>
        <result property="menu_name" column="menu_name"/>
        <result property="price" column="price"/>
    </resultMap>
	
	<select id="findMustEatPlaceWithMenu" resultMap="mustEatPlaceWithMenuResultMap">
		SELECT DISTINCT mep.id, mep.place, mep.restaurant_name, mep.review, mep.telephone_number, mep.representative_menu, mep.asterion
		FROM MUST_EAT_PLACE mep
		INNER JOIN menu_info mi ON mep.id = mi.menu_id
		order by mep.id
	</select>
	
	<update id="modifyMustEatPlace" parameterType="com.app.dto.mustEatPlace.MustEatPlace">
		UPDATE MUST_EAT_PLACE
		SET place = #{place},
			restaurant_name = #{restaurant_name},
			review = #{review},
			asterion = #{asterion},
			representative_menu = #{representative_menu},
			telephone_number = #{telephone_number}
		WHERE
			id = #{id}
	</update>
</mapper>