<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
					"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>




	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		 <setting name="jdbcTypeForNull" value="NULL"/> 
	</settings>


	<typeAliases>
		<!-- user -->
		<typeAlias type="com.app.dto.user.User" alias="User"></typeAlias>
		<typeAlias type="com.app.dto.user.UserSearchCondition"
			alias="UserSearchCondition"></typeAlias>
		<!-- <typeAliases> <typeAlias type="com.rsrvapp.dto.user.User" alias="User"/> 
			<typeAlias type="com.rsrvapp.dto.user.UserSearchCondition" alias="UserSearchCondition"/> 
			</typeAliases> -->
		<typeAlias type="com.app.dto.postRecipe.PostRecipe"
			alias="PostRecipe" />
		<typeAlias
			type="com.app.dto.postRecipe.PostRecipeSearchCondition"
			alias="PostRecipeSearchCondition" />
		<typeAlias
			type="com.app.dto.postRecipe.PostRecipeUpdateRecipeType"
			alias="PostRecipeUpdateRecipeType" />
		<typeAlias type="com.app.dto.product.Product"
			alias="Product"></typeAlias>
		<typeAlias type="com.app.dto.mustEatPlace.MustEatPlace"
			alias="MustEatPlace"></typeAlias>
		<typeAlias
			type="com.app.dto.mustEatPlace.MustEatPlaceSearchCondition"
			alias="MustEatPlaceSearchCondition"></typeAlias>
		<typeAlias type="com.app.dto.order.Order" alias="Order"></typeAlias>
		<typeAlias type="com.app.dto.order.OrderItem"
			alias="OrderItem"></typeAlias>
		<typeAlias type="com.app.dto.order.OrderSearchCondition"
			alias="OrderSearchCondition"></typeAlias>
		<typeAlias type="com.app.dto.payment.Payment"
			alias="Payment"></typeAlias>
		<typeAlias type="com.app.dto.payment.PaymentSearchCondition"
			alias="PaymentSearchCondition"></typeAlias>
		<typeAlias type="com.app.dto.delivery.Delivery"
			alias="Delivery"></typeAlias>
		<typeAlias
			type="com.app.dto.delivery.DeliverySearchCondition"
			alias="DeliverySearchCondition"></typeAlias>
		<typeAlias
			type="com.app.dto.delivery.ModifyDeliveryAddressByOrderIdAndMemberId"
			alias="ModifyDeliveryAddressByOrderIdAndMemberId"></typeAlias>
		<typeAlias
			type="com.app.dto.payment.ModifyPaymentAmountByOrderId"
			alias="ModifyPaymentAmountByOrderId"></typeAlias>

		<typeAlias type="com.app.dto.util.RecipeFileInfo" alias="RecipeFileInfo"/>
		<typeAlias type="com.app.dto.postRecipe.RecipeImage" alias="RecipeImage"/>
		<typeAlias type="com.app.dto.postRecipe.RecipeSearchCondition" alias="RecipeSearchCondition"/>

	</typeAliases>



</configuration>