<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
					"http://mybatis.org/dtd/mybatis-3-config.dtd">
					

<configuration>
 
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>   
        <setting name="jdbcTypeForNull" value="NULL"/> 
    </settings>
    
        <!-- 기본값이 OTHER인데, 이를 NULL로 변경할 수 있습니다. -->
       
    
    <typeAliases>
    <!--     <typeAlias type="com.app.dto.product.Product" alias="Product"/>
        <typeAlias type="com.rsrvapp.dto.product.ProductSearchCondition" alias="ProductSearchCondition"/> -->
        
    </typeAliases>
    
    <!-- 여기에 다른 설정들이 들어갈 수 있습니다 -->
     
</configuration>